.bgcolor {
  background-color: rgba(25, 35, 17, 1);
}
#navBtn {
  border: none;
  outline: none;
  box-shadow: none;
}
#bgcolor {
  background: rgba(25, 35, 17, 1);
}
#line {
  line-height: 1.2em;
}
#ftbg {
  background-color: white;
}
#ftcard:hover {
  box-shadow: 2px 0px 5px rgb(0 0 0);
  transition: top 0.3s;
  z-index: 11;
}
#center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shift {
  padding-left: 10%;
}
.login-btn1 {
  background-color: white;
  color: rgba(25, 35, 17, 1);
  font-weight: bold;
}
.login-btn2 {
  /* background-color: #727579; */
  color: rgba(25, 35, 17, 1);
  font-weight: bold;
}
.hero-bg {
  background: url('/src/sources/bg-pattern.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* height: 100vh; */
  /* background-color: #727579; */
}
#card-img {
  width: 150px;
}
#iconFont {
  font-size: 100px;
}
.card-color{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
#service-bg {
  background: url('/src/sources/register_bg_2.4f2cb0ac.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(25, 35, 17, 1);
}
#abtimg {
  width: 100%;
  object-fit: contain;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
